body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#difficulty{
    align-content: center;
}

#difficulty > * {
    margin-left: 20px;
    margin-right: 20px;
}

#score {
    color: rgb(120,50,5);
}

#board {
    width: 302px;
    height: 302px;

    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
}

#digits {
    width: 300px;
    height: 50px;

    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* Text css */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 44px;
    height: 44px;

    border: 1px solid black;
    margin: 2px;

    /* Text css */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: rgb(236, 236, 236);
}

.horizontal-line {
    border-bottom: 2px solid black;
}

.vertical-line {
    border-right: 2px solid black;
}

.valid{
    background-color: green;
}

#button + .button { margin-top: 1em; }

.scorediv {
  font-size: 25px;
  width: 400px;
  color: rgb(120,50,5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  
}

#button {
  display: inline-block;
  outline: none;
  border-radius: .3em;
  font-size: 25px;
  height: 2.75em;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px rgba(139,66,8,1),
              inset 0 -1px 1px 3px rgba(250,227,133,1);
  background-image: linear-gradient(160deg, #a54e07, #b47e11, #fef1a2, #bc881b, #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120,50,5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-size: 100% 100%;
  background-position:center;
}
#button:focus,
#button:hover {
  background-size: 150% 150%;
  
  border: 1px solid rgba(165,93,7,.6);
  color: rgba(120,50,5,.8);
}
.button:active {
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4),
              inset 0 -2px 5px 1px #b17d10,
                inset 0 -1px 1px 3px rgba(250,227,133,1);
}