body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#difficulty{
    align-content: center;
}

#difficulty > * {
    margin-left: 20px;
    margin-right: 20px;
}

#errors {
    color: red;
}

.errorsdiv {
    color: red;
}

#board {
    width: 302px;
    height: 302px;

    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
}

#digits {
    width: 300px;
    height: 50px;

    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgray;

    /* Text css */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 44px;
    height: 44px;

    border: 1px solid black;
    margin: 2px;

    /* Text css */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: gray;
}

.tile-start {
    background-color: rgb(236, 236, 236);
}

.horizontal-line {
    border-bottom: 2px solid black;
}

.vertical-line {
    border-right: 2px solid black;
}

.valid{
    background-color: green;
}
